streamlit
streamlit-chat
google-generativeai
PyPDF2
python-docx
pymongo
python-dotenv
werkzeug
pandas
scikit-learn
nltk
fpdf
python-pptx
plotly
streamlit-option-menu
requests
google-trans-new
deep-translator
